<!DOCTYPE html>
<html>
  <head>
      <meta charset = "utf-8">
      <title>Some Website</title>
    </head>
<body>
  <h1>{{> headers }}</h1>
    <p>{{screamIt message}}</p>
      <footer>
          {{> footers }}
      </footer>
</body>
</html>
